#menu{
	height: 1px;
	margin-bottom:5px;
	clear: both;
}

#menu ul {
	margin: 0;
	padding: 0px;
	float: right;
	border: 0.1em solid #CCCCCC;
}
#menu ul li {
	list-style:none;
	display:block;
	float:left;
	position: relative;
	z-index: 1000;
}
#menu ul li a{
	float:left;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align:center;
	padding:0.7em 1.6em 0.7em 1.6em;
	border-width:0px;
	border-left: 1px;
	text-decoration:none;
    background:#FFFFFF;
	color:#333;
	border-color:#666;
	background: url("../imagem/menu-bg.png") 2px 32px;

}
#menu ul li a:hover{
	color:#FF0000;
	border-color:#666;
    background:#FFFFFF;
	background: url("../imagem/menu-bg.png") 2px 30px;
}

#menu ul li ul{
	position: absolute;
	display: none;
	background: #FFF;
	top: 30px;
}

#menu ul li ul li{
	float: none;
	
}

#menu ul li ul li a{
	background: #FFF;
	border-bottom: 1px solid #AAA;
	border-right: 1px solid #AAA;
	width: 100%;
	padding-left: 1.2em;
	padding-right: 2.8em;
}

#menu ul li ul li a:hover{
	background: #FFF;
}

#menu ul li:hover ul{
	display: block;
}